<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="getProduct()">
    <h1>Edit Product</h1>
    <div>
        Id: <span id="product_id">{{ id }}</span><br>
        Name: <input type="text" id="product_name" /><br>
        Price: <input type="text" id="product_price" /><br>
        <button onclick="editProduct()">Submit</button>
    </div>
    <div id="message"></div>
    <div><a href="/products">Products</a></div>

    <script>
        function getProduct() {
            let id = document.getElementById("product_id").innerText
            console.log(id)
            fetch('http://localhost:5000/api/product/' + id)
            .then(response => response.json()) 
            .then(data => { 
                console.log(data)
                let product = data['product']
                document.getElementById("product_name").value = product['name']
                document.getElementById("product_price").value = product['price']
            })
        }

        function editProduct() {
            let id = document.getElementById("product_id").innerText
            let name = document.getElementById("product_name").value
            let price = document.getElementById("product_price").value
            if(name.length == 0 || price.length == 0) {
                document.getElementById("message").innerHTML = "Please fill all fields"
                return
            }
            fetch('http://localhost:5000/api/product', {
                method: 'PUT',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({"id": id, "name": name, "price": price})
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("message").innerHTML = "Product " + name + " updated"
            })
        }
    </script>
</body>
</html>