<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body onload="getProducts()">
    <h1>Products</h1>
    <div><a href="/add/product">Add Product</a></div>
    <div id="product_list"></div>

    <script>
        function getProducts() {
            html = ''
            fetch('http://localhost:5000/api/products')
            .then(response => response.json())
            .then(data => { 
                console.log(data)
                let products = data['products']
                for(let i in products) {
                    product = products[i]
                    console.log(products[i])
                    html += '<p>' + product['name'] + 
                        ' <a href="/edit/product/' + product['id'] + '">E</a> ' +
                        ' <a href="/delete/product/' + product['id'] + '">D</a></p>'
                }
                document.getElementById("product_list").innerHTML = html
            })
        }
    </script>
</body>
</html>